<br>
<br>
<br>
<h2 class="animated bounce">{{title}}</h2>
<div class="row">
  <div class="col-sm-3"></div>
<div class="form-group col-sm-6 animated bounce">
    <label>Seleccione el <strong>Equipo</strong>:</label>
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
    <select class="form-control" [ngModel]="selectedDevice" (ngModelChange)="onChange($event)">
      <option *ngFor="let equipo of equipos" value="{{equipo.id}}"  >{{equipo.nombre}}</option>
    </select>
</div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 animated bounceIn" *ngFor="let Jugador of jugadores">

    <div class="col-md-7">
      <div class="text-center ma-borde ma-padding-top-bottom">
        <h3>{{Jugador.nombre}}</h3>
        <p><strong>Posición:</strong><br>{{Jugador.posicion}}<br>
          <strong>Fichado hasta:</strong><br>{{Jugador.fichadoHasta}}</p>
        <br>
      </div>
      <div class="row" [hidden]="!Jugador.formularioCerrado">

        <div class="col-sm-4">
          <button class="btn btn-danger btn-group-sm" (click)="borrarJugador(Jugador.id)"><span
            class="glyphicon glyphicon-remove"></span> Borrar
          </button>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
          <button class="btn btn-info btn-group-sm" (click)="Jugador.formularioCerrado=!Jugador.formularioCerrado"><span
            class="glyphicon glyphicon-refresh"></span> Actualizar
          </button>
        </div>
      </div>
      <!--Actualziar-->

      <div class="row" [hidden]="Jugador.formularioCerrado">
        <form action="">
          <form (ngSubmit)="actualizarJugador(Jugador, Jugador.id)" #NuevaMateriaForm="ngForm">
            <div class="row">
              <div class="form-group">
                <label>Jugador</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input required
                         name="nombre"
                         minlength="4"
                         type="text"
                         class="form-control"
                         placeholder="Ingrese el nombre del Jugador"
                         #nombre="ngModel"
                         [(ngModel)]="Jugador.nombre"
                         #nombreElm>
                </div>
              </div>
              <div class="form-group">
                <label>Fichado hasta:</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                  <input required
                         type="date"
                         class="form-control"
                         name="fichadoHasta"
                         [(ngModel)]="Jugador.fichadoHasta"
                         #fichadoHasta="ngModel"
                         #nombreElm>
                </div>
              </div>
              <div class="form-group">
                <label>Posición:</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-screenshot"></i></span>
                  <select required
                          class="form-control"
                          name="posicion"
                          [(ngModel)]="Jugador.posicion"
                          #posicion="ngModel">
                    <option *ngFor="let poscion of posiciones" value="{{poscion.posicion}}">{{poscion.posicion}}</option>
                  </select>
                  <!--  <input required
                           type="text"
                           placeholder="posicion del jugador"
                           class="form-control"
                            name="posicion"
                            id="posicion"
                            [(ngModel)]="nuevoJugador.posicion"
                           #nombreElm>-->
                </div>
              </div>
              <!--<div class="form-group">
                <label>Equipo:</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
                  <select required
                          class="form-control"
                          name="idEquipo"
                          [(ngModel)]="Jugador.idEquipo"
                          #idEquipo="ngModel"
                  #idEquipoElm>
                    <option *ngFor="let equipo of equipos" value="{{equipo.id}}>{{equipo.nombre}}">{{equipo.nombre}}</option>
                  </select>
                </div>
              </div>-->
              <div class="row">
                <div class="col-sm-6">
                  <button type="submit" class="btn btn-success btn-group-sm"><span
                    class="glyphicon glyphicon-ok-circle"></span> Aceptar
                  </button>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-6">
                  <button type="button" class="btn btn-warning btn-group-sm"
                          (click)="Jugador.formularioCerrado=!Jugador.formularioCerrado"><span
                    class="glyphicon glyphicon-ban-circle"></span>
                    Cancelar
                  </button>
                </div>
              </div>
            </div>
          </form>
        </form>
      </div>
    </div>
  </div>
</div>
